.container {
    height: 599px;
    width: 700px;
    background-color: gray;
    position: absolute;
    left: 25%;
    top: 0px;
}



.div1 {
    height: 150px;
    width: 150px;
    background-color: red;
    position: absolute;
    right: 0px;
    top: 0px;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: green;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.div4 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    position: absolute;
    right: 0px;
    bottom: 0px;
}