{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">
    <div class="card p-4 shadow card-form w-100">
        <h4 class="text-center mb-3">Contact Us</h4>

        {% if success %}
        <div class="alert alert-success text-center">
            Message sent successfully!
        </div>
        {% endif %}

        <form method="POST">
            <input class="form-control mb-2" name="name" placeholder="Name" required>
            <input class="form-control mb-2" name="email" type="email" placeholder="Email" required>
            <textarea class="form-control mb-3" name="message" placeholder="Message" required></textarea>
            <button class="btn btn-dark w-100">Send</button>
        </form>
    </div>
</div>
{% endblock %}