body {
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  width: 60px;
  height: 60px;
  background: coral;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: flex-end;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn.open {
  width: 100px;
}
.box {
  width: 35px;
  height: 5px;
  background-color: white;
  border-radius: 3px;
  transition: 0.3s;
}
.box.bottom {
  transform: rotate(45deg);
  margin-top: -32.5px;
}
.box.middle {
  transform: rotate(-45deg);
}
.box.top {
  display: none;
}
.main {
  background-color: gray;
  color: white;
  margin-top: -8px;
  margin-left: -150px;
  width: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: 0.3s;
}
.main.opened {
  margin-left: -10px;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
