body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
  font-size: 30px;
}
.btn.active {
  background-color: green;
}
.icon {
  transition: 0.3s;
}

.icon.animate {
  transform: rotate(180deg);
}

.icon.show {
  transform: rotate(360deg);
}
