.container{
    height: 800px;
    width: 800px;
    background-color: rgb(245, 245, 245);
}

.box1{
    height: 100px;
    width: 100px;
    background: red;
}

.box2{
    height: 200px;
    width: 200px;
    background: green;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.box3{
    height: 300px;
    width: 300px;
    background: blue;
}