<<<<<<< HEAD
.container{
    display:grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
}

.container > div{
    background-color: aquamarine;
    border: 1px solid black;
}
=======
>>>>>>> d150ddc0312a2e3442f983d375f6eb0226e26d30
